.app-wrapper {
  display: grid;
  width: 1200px;
  margin: 0 auto;
  
  grid-template-areas: 
  "h h"
  "n c";

  grid-template-rows: 100px, 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px; 
}

.header {
  grid-area: h;
  background-color:blue;
}

.header img {
  height: 50px;
}

.nav {
  grid-area: n;
  background-color:aqua ;
}

.profile {
  grid-area: c;
  background-color:aquamarine;
}

.profile img {
  height: 200px;
}